{{- /* Gestion du type Web sur toutes les pages */ -}}
{{- $webVar := "seo_metadata_js_web.html" -}}
{{- /* schema.org WebPage */ -}}
<script type="application/ld+json">
{{ partial $webVar . | safeJS }}
</script>

{{- /* Sélection de la source typeseo : site.Params sur la home, .Params sinon */ -}}
{{- $context := . -}}
{{- $typeseo := .Params.typeseo -}}
{{- if .IsHome -}}
  {{- $typeseo = site.Params.typeseo -}}
{{- end -}}

{{- /* Génération d'un bloc JSON-LD par type déclaré dans typeseo */ -}}
{{- range $typeseo -}}
  {{- $var := printf "seo_metadata_js_%s.html" . -}}
  <script type="application/ld+json">
  {{ partial $var $context | safeJS }}
  </script>
{{- end -}}
