<!-- Initialisation des variables selon [params.seo_json] de config.toml -->
<!-- $var = the desired variable for SEO ld+json -->
{{- $var := "social_facebook" | default "" }}
{{- $seo_social_facebook := partial "seo_find_param.html" (dict "context" . "var" $var ) }}
{{- $var := "social_twitter" | default "" }}
{{- $seo_social_twitter := partial "seo_find_param.html" (dict "context" . "var" $var ) }}
{{- $var := "social_instagram" | default "" }}
{{- $seo_social_instagram := partial "seo_find_param.html" (dict "context" . "var" $var ) }}
{{- $var := "image" | default "" }}
{{- $seo_image := partial "seo_find_param.html" (dict "context" . "var" $var ) }}
{{- $var := "defaultKeywords" | default "" }}
{{- $seo_defaultKeywords := partial "seo_find_param.html" (dict "context" . "var" $var ) }}
{{- $var := "logo" | default "" }}
{{- $seo_logo := partial "seo_find_param.html" (dict "context" . "var" $var ) }}
{{- $var := "geo_type" | default "" }}
{{- $seo_geo_type := partial "seo_find_param.html" (dict "context" . "var" $var ) }}
{{- $var := "geo_latitude" | default "" }}
{{- $seo_geo_latitude := partial "seo_find_param.html" (dict "context" . "var" $var ) }}
{{- $var := "geo_longitude" | default "" }}
{{- $seo_geo_longitude := partial "seo_find_param.html" (dict "context" . "var" $var ) }}

{{- $var := "officeAddressName" | default "" }}
{{- $seo_officeAddressName := partial "seo_find_param.html" (dict "context" . "var" $var ) }}
{{- $var := "officeAddress" | default "" }}
{{- $seo_officeAddress := partial "seo_find_param.html" (dict "context" . "var" $var ) }}
{{- $var := "officeAddressCP" | default "" }}
{{- $seo_officeAddressCP := partial "seo_find_param.html" (dict "context" . "var" $var ) }}
{{- $var := "officeAddressVille" | default "" }}
{{- $seo_officeAddressVille := partial "seo_find_param.html" (dict "context" . "var" $var ) }}
{{- $var := "officeAddressPays" | default "" }}
{{- $seo_officeAddressPays := partial "seo_find_param.html" (dict "context" . "var" $var ) }}
{{- $var := "officeAddressRegion" | default "" }}
{{- $seo_officeAddressRegion := partial "seo_find_param.html" (dict "context" . "var" $var ) }}

{{- $var := "officePhone" | default "" }}
{{- $seo_phone := partial "seo_find_param.html" (dict "context" . "var" $var ) }}

{{- $var := "officeHorairesJours" | default "" }}
{{- $seo_officeHorairesJours := partial "seo_find_param.html" (dict "context" . "var" $var ) }}
{{- $var := "officeHorairesOpen" | default "" }}
{{- $seo_officeHorairesOpen := partial "seo_find_param.html" (dict "context" . "var" $var ) }}
{{- $var := "officeHorairesClose" | default "" }}
{{- $seo_officeHorairesClose := partial "seo_find_param.html" (dict "context" . "var" $var ) }}

{{- $var := "priceRange" | default "" }}
{{- $seo_priceRange := partial "seo_find_param.html" (dict "context" . "var" $var ) }}

<!-- # Specific to LodgingBusiness -->
{{- $var := "checkinTime" | default "" }}
{{- $seo_checkinTime := partial "seo_find_param.html" (dict "context" . "var" $var ) }}
{{- $var := "checkoutTime" | default "" }}
{{- $seo_checkoutTime := partial "seo_find_param.html" (dict "context" . "var" $var ) }}
{{- $var := "numberOfRooms" | default "" }}
{{- $seo_numberOfRooms := partial "seo_find_param.html" (dict "context" . "var" $var ) }}
{{- $var := "petsAllowed" | default "" }}
{{- $seo_petsAllowed := partial "seo_find_param.html" (dict "context" . "var" $var ) }}

  <!--  SEO code for ld-+son -->
{
  "@context": "http://schema.org/",
  "@type": "WebPage",
  "mainEntityOfPage": {
    "@type": "WebSite",
    "@id": "{{ .Permalink }}",
    "url": "{{ .Permalink }}",
    "sameAs":
    {{- if $seo_social_facebook -}}
    "{{ $seo_social_facebook }}"
    {{- else if $seo_social_instagram -}}
    "{{ $seo_social_instagram }}"
    {{- else if $seo_social_twitter -}}
    "{{ $seo_social_twitter }}"
    {{- end }}
  },
  "@id": "{{ .Permalink }}",
  "url": "{{ .Permalink }}",
  "name" : "{{ partial "seo_metadata_title" . }}",
  "headline" : "{{ partial "seo_metadata_title" . }}",
  "description": "{{ partial "seo_metadata_description" . }}",
  "image": "{{ range first 1 $seo_image }}{{ (resources.Get . | fingerprint "md5").Permalink }}{{ end }}",
  "inLanguage" : "{{ .Language }}",
  "copyrightYear" : "{{ now.Format "2006" }}",
  "datePublished": "{{ now.Format "2006-01-02" }}",
  {{ if not .Lastmod.IsZero }}"dateModified" : "{{ .Lastmod.Format "2006-01-02" }}",{{ end }}

  "mainEntity": {
    "@type": "LodgingBusiness",
    "@id": "{{ .Permalink }}",
    "url": "{{ .Permalink }}",
    "name" : "{{ partial "seo_metadata_title" . }}",
    "description": "{{ partial "seo_metadata_description" . }}",
    "image": "{{ range first 1 $seo_image }}{{ (resources.Get . | fingerprint "md5").Permalink }}{{ end }}",
    "photo": "{{ range first 1 $seo_image }}{{ (resources.Get . | fingerprint "md5").Permalink }}{{ end }}",
    "logo": "{{ (resources.Get $seo_logo | fingerprint "md5").Permalink }}",

    "address": {
      "@type": "PostalAddress",
      "streetAddress": "{{ $seo_officeAddress }}",
      "addressLocality": "{{ $seo_officeAddressVille }}",
      "addressRegion": "{{ $seo_officeAddressRegion }}",
      "postalCode": "{{ $seo_officeAddressCP }}",
      "addressCountry": "{{ $seo_officeAddressPays }}"
    },
    "telephone": "{{ $seo_phone | safeHTML }}",
    "priceRange": "{{ $seo_priceRange }}",
    "geo": {
      "@type": "{{ $seo_geo_type }}",
      "latitude": {{ $seo_geo_latitude }},
      "longitude": {{ $seo_geo_longitude }}
    },
    "openingHoursSpecification": [
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [{{ range $i, $e := $seo_officeHorairesJours }}{{ if $i }}, {{ end }}"{{ $e }}"{{ end }}],
        "opens": "{{ $seo_officeHorairesOpen }}",
        "closes": "{{ $seo_officeHorairesClose }}"
      }
    ]
    },
    "checkinTime": "{{ $seo_checkinTime | safeHTML }}",
    "checkoutTime": "{{ $seo_checkoutTime | safeHTML }}",
    "numberOfRooms": "{{ $seo_numberOfRooms | safeHTML }}",
    "petsAllowed": "{{ $seo_petsAllowed }}"
    {{- if or .Keywords $seo_defaultKeywords -}}
    ,
    {{- end }}
    {{ if .Keywords }}
    "keywords" : "{{ delimit .Keywords ", " }}"
    {{- else if $seo_defaultKeywords -}}
    "keywords" : "{{ delimit $seo_defaultKeywords ", " }}"
    {{ end -}}
}
