{{- /*
  Partial mis en cache : valeurs SEO invariantes au niveau du site
  (ne dépendent pas de la page courante). Ne PAS y mettre "image" :
  ce champ dépend du contexte de la page (voir seo_common_vars.html).
*/ -}}
{{- $context := . -}}
{{- $find := "seo_find_param.html" -}}

{{- $social_facebook   := partial $find (dict "context" $context "var" "social_facebook") -}}
{{- $social_twitter    := partial $find (dict "context" $context "var" "social_twitter") -}}
{{- $social_instagram  := partial $find (dict "context" $context "var" "social_instagram") -}}
{{- $defaultKeywords   := partial $find (dict "context" $context "var" "defaultKeywords") -}}
{{- $businessName      := partial $find (dict "context" $context "var" "businessName") -}}
{{- $businessDescription := partial $find (dict "context" $context "var" "businessDescription") -}}
{{- $logo              := partial $find (dict "context" $context "var" "logo") -}}
{{- $geo_type          := partial $find (dict "context" $context "var" "geo_type") -}}
{{- $geo_latitude      := partial $find (dict "context" $context "var" "geo_latitude") -}}
{{- $geo_longitude     := partial $find (dict "context" $context "var" "geo_longitude") -}}

{{- $officeAddressName   := partial $find (dict "context" $context "var" "officeAddressName") -}}
{{- $officeAddress       := partial $find (dict "context" $context "var" "officeAddress") -}}
{{- $officeAddressCP     := partial $find (dict "context" $context "var" "officeAddressCP") -}}
{{- $officeAddressVille  := partial $find (dict "context" $context "var" "officeAddressVille") -}}
{{- $officeAddressPays   := partial $find (dict "context" $context "var" "officeAddressPays") -}}
{{- $officeAddressRegion := partial $find (dict "context" $context "var" "officeAddressRegion") -}}
{{- $officePhone         := partial $find (dict "context" $context "var" "officePhone") -}}
{{- $officePhones        := partial $find (dict "context" $context "var" "officePhones") -}}
{{- $officeHorairesJours := partial $find (dict "context" $context "var" "officeHorairesJours") -}}
{{- $officeHorairesOpen  := partial $find (dict "context" $context "var" "officeHorairesOpen") -}}
{{- $officeHorairesClose := partial $find (dict "context" $context "var" "officeHorairesClose") -}}
{{- $officeHorairesJoursWE := partial $find (dict "context" $context "var" "officeHorairesJoursWE") -}}
{{- $officeHorairesOpenWE  := partial $find (dict "context" $context "var" "officeHorairesOpenWE") -}}
{{- $officeHorairesCloseWE := partial $find (dict "context" $context "var" "officeHorairesCloseWE") -}}
{{- $priceRange          := partial $find (dict "context" $context "var" "priceRange") -}}
{{- $priceAmount         := partial $find (dict "context" $context "var" "priceAmount") -}}
{{- $priceCurrencySymbol := partial $find (dict "context" $context "var" "priceCurrencySymbol") -}}
{{- $personName          := partial $find (dict "context" $context "var" "personName") -}}
{{- $personGivenName     := partial $find (dict "context" $context "var" "personGivenName") -}}
{{- $personFamilyName    := partial $find (dict "context" $context "var" "personFamilyName") -}}
{{- $personJobTitle      := partial $find (dict "context" $context "var" "personJobTitle") -}}
{{- $personImage         := partial $find (dict "context" $context "var" "personImage") -}}

{{- return dict
  "social_facebook"      $social_facebook
  "social_twitter"       $social_twitter
  "social_instagram"     $social_instagram
  "defaultKeywords"      $defaultKeywords
  "businessName"         $businessName
  "businessDescription"  $businessDescription
  "logo"                 $logo
  "geo_type"             $geo_type
  "geo_latitude"         $geo_latitude
  "geo_longitude"        $geo_longitude
  "officeAddressName"    $officeAddressName
  "officeAddress"        $officeAddress
  "officeAddressCP"      $officeAddressCP
  "officeAddressVille"   $officeAddressVille
  "officeAddressPays"    $officeAddressPays
  "officeAddressRegion"  $officeAddressRegion
  "officePhone"          $officePhone
  "officePhones"         $officePhones
  "officeHorairesJours"  $officeHorairesJours
  "officeHorairesOpen"   $officeHorairesOpen
  "officeHorairesClose"  $officeHorairesClose
  "officeHorairesJoursWE" $officeHorairesJoursWE
  "officeHorairesOpenWE"  $officeHorairesOpenWE
  "officeHorairesCloseWE" $officeHorairesCloseWE
  "priceRange"           $priceRange
  "priceAmount"          $priceAmount
  "priceCurrencySymbol"  $priceCurrencySymbol
  "personName"           $personName
  "personGivenName"      $personGivenName
  "personFamilyName"     $personFamilyName
  "personJobTitle"       $personJobTitle
  "personImage"          $personImage
-}}
