{{- $seo := partial "seo_common_vars.html" . -}}
{{- $entity := partial "seo_business_entity.html" (dict
  "context" . "seo" $seo "type" "VacationRental"
  "id" (printf "%s#vacationrental" .Permalink) "url" .Permalink
) -}}
{{- $place := dict "@type" "Accommodation" -}}
{{- range $field := (slice "numberOfRooms" "numberOfBedrooms" "amenityFeature" "petsAllowed") -}}
  {{- with partial "seo_find_param.html" (dict "context" $ "var" $field) -}}
    {{- $place = merge $place (dict $field .) -}}
  {{- end -}}
{{- end -}}
{{- with partial "seo_find_param.html" (dict "context" . "var" "occupancy") -}}
  {{- $place = merge $place (dict "occupancy" (dict "@type" "QuantitativeValue" "maxValue" .)) -}}
{{- end -}}
{{- if gt (len $place) 1 }}{{ $entity = merge $entity (dict "containsPlace" $place) }}{{ end -}}
{{- return $entity -}}
