{{- /* Gestion du type Web sur toutes les pages */ -}}
{{- $var := "seo_metadata_js_web.html" -}}
{{- /* schema.org Web */ -}}
<script type="application/ld+json">
{{ partial $var . | safeJS }}
</script>

{{- /* Gestion du partial selon existence de .typeseo dans la page */ -}}
{{- $context := . -}}
{{- if .IsHome -}}
  {{- /* HOME PAGE */ -}}
  {{- range site.Params.typeseo -}}
    {{- $var := printf "seo_metadata_js_%s.html" . -}}
    {{- $infoschema := printf "<!-- schema.org %s -->" . -}}
    {{ $infoschema | safeHTML }}
    <script type="application/ld+json">
    {{ partial $var $context | safeJS }}
    </script>
  {{- end -}}
{{- else -}}
  {{- /* AUTRES PAGES */ -}}
  {{- range .Params.typeseo -}}
    {{- $var := printf "seo_metadata_js_%s.html" . -}}
    {{- $infoschema := printf "<!-- schema.org %s -->" . -}}
    {{ $infoschema | safeHTML }}
    <script type="application/ld+json">
    {{ partial $var $context | safeJS }}
    </script>
  {{- end -}}
{{- end -}}
