{{- $context := .context -}}
{{- $seo := partial "seo_common_vars.html" $context -}}
{{- $webpage := dict
  "@type" "WebPage"
  "@id" (printf "%s#webpage" $context.Permalink)
  "url" $context.Permalink
  "name" (partial "seo_metadata_title" $context)
  "description" (partial "seo_metadata_description" $context)
  "inLanguage" $context.Language.Lang
  "isPartOf" (dict "@id" (printf "%s#website" site.Home.Permalink))
-}}
{{- with .publisherID }}{{ $webpage = merge $webpage (dict "publisher" (dict "@id" .)) }}{{ end -}}
{{- with .mainEntities -}}
  {{- if eq (len .) 1 -}}
    {{- $webpage = merge $webpage (dict "mainEntity" (index . 0)) -}}
  {{- else -}}
    {{- $webpage = merge $webpage (dict "mainEntity" .) -}}
  {{- end -}}
{{- end -}}
{{- $imageURL := partial "seo_primary_image.html" (dict "context" $context "images" $seo.image) -}}
{{- with $imageURL }}{{ $webpage = merge $webpage (dict "primaryImageOfPage" (dict "@type" "ImageObject" "url" .)) }}{{ end -}}
{{- $published := $context.PublishDate -}}
{{- if $published.IsZero }}{{ $published = $context.Date }}{{ end -}}
{{- if not $published.IsZero }}{{ $webpage = merge $webpage (dict "datePublished" ($published.Format "2006-01-02T15:04:05Z07:00")) }}{{ end -}}
{{- if not $context.Lastmod.IsZero }}{{ $webpage = merge $webpage (dict "dateModified" ($context.Lastmod.Format "2006-01-02T15:04:05Z07:00")) }}{{ end -}}
{{- if $context.Keywords -}}
  {{- $webpage = merge $webpage (dict "keywords" (delimit $context.Keywords ", ")) -}}
{{- else -}}
  {{- with $seo.defaultKeywords -}}
    {{- $webpage = merge $webpage (dict "keywords" (delimit . ", ")) -}}
  {{- end -}}
{{- end -}}
{{- return $webpage -}}
