<!-- Manage SEO ld+json
     Return the "real" param corresponding to the given variable -->
{{ $var := .var }}

{{ $temp := .context.Param ( printf "seo_json.%s" $var) }}
{{ $param_var := "" }}
{{ with $temp }}
  {{ if reflect.IsSlice . }}
    {{ $values := slice }}
    {{ range . }}
      {{ with partial "seo_resolve_path.html" (dict "context" $.context "path" .) }}
        {{ $values = $values | append . }}
      {{ end }}
    {{ end }}
    {{ $param_var = $values }}
  {{ else }}
    {{ $param_var = partial "seo_resolve_path.html" (dict "context" $.context "path" .) }}
  {{ end }}
{{ end }}

{{ return $param_var }}
